In [1]:
import mta_functions as mta
import pandas as pd
import eda

In [2]:
# Create dataframe from unprocessed directory files
mta_data = mta.df_from_directory('../data/turnstiles/processing')

In [3]:
# Create concat string for turnstile
mta_data['TID'] = mta.concat_columns(mta_data, ['C/A', 'UNIT', 'SCP'])

In [4]:
# Create Turnstile ID for each turnstile
mta_data['TID'] = mta_data.apply(lambda x: mta.create_hashed_column(x['TID'], 16), axis = 1)

In [5]:
# Create concat string for entries
mta_data['UID_string'] = mta.concat_columns(mta_data, ['TID', 'DATE', 'TIME'])

In [6]:
# Convert entry string to hash
mta_data['UID'] = mta_data.apply(lambda x: mta.create_hashed_column(x['UID_string'], 16), axis = 1)

In [7]:
# Create DateTime column
mta_data['DATETIME'] = pd.to_datetime(mta_data.DATE + ' ' + mta_data.TIME)

In [8]:
#  Fix EXITS column name
mta_data.columns = [column.strip() for column in mta_data.columns]

In [9]:
# Reorganize Columns
mta_data = mta_data[['UID','TID','C/A','UNIT','SCP','STATION','LINENAME','DIVISION','DATETIME','DESC','ENTRIES','EXITS']]

In [10]:
mta_data

,UID,TID,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATETIME,DESC,ENTRIES,EXITS
0,25B55E0F24FBFEBB,90191926F891F8C7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 03:00:00,REGULAR,7402469,2511926
1,F9E84967BCE36BBE,90191926F891F8C7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 07:00:00,REGULAR,7402480,2511937
2,E0050F320A612F72,90191926F891F8C7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 11:00:00,REGULAR,7402559,2512022
3,2976F83CACFD8CB1,90191926F891F8C7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 15:00:00,REGULAR,7402755,2512073
4,2206EBC2D54D5CB8,90191926F891F8C7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 19:00:00,REGULAR,7403040,2512132
...,...,...,...,...,...,...,...,...,...,...,...,...
205616,FBBAA5A4B61D7E3D,B1A51961660208B4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2020-01-17 04:00:00,REGULAR,5554,420
205617,1F49A3F721CF0F57,B1A51961660208B4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2020-01-17 08:00:00,REGULAR,5554,420
205618,40FF9D9174EBAAB4,B1A51961660208B4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2020-01-17 12:00:00,REGULAR,5554,420
205619,47EAC7863B55EA16,B1A51961660208B4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2020-01-17 16:00:00,REGULAR,5554,420
205620,ED07726A053F099D,B1A51961660208B4,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2020-01-17 20:00:00,REGULAR,5554,420

In [11]:
# mta_data.loc[mta_data['DESC'] == 'RECOVR AUD'].index

# idx = mta_data.index.iloc(row_index)
# mta_data.iloc[idx - 1 : idx + 1]

# list(mta_data[mta_data.DESC == 'RECOVR AUD'].ind)

# mta_data.index.

In [12]:
mta_data.describe().apply(lambda s: s.apply('{0:.1f}'.format))

            ENTRIES         EXITS
count     3295462.0     3295462.0
mean     42830005.3    35090932.2
std     218833245.6   198751684.2
min             0.0           0.0
25%        317884.0      141535.2
50%       1921470.0     1124620.0
75%       6572069.0     4477027.0
max    2128895656.0  2123501742.0

In [13]:
eda.identify_nulls(mta_data)

------------------Rows with Nulls------------------

Empty DataFrame
Columns: [UID, TID, C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATETIME, DESC, ENTRIES, EXITS]
Index: []

In [14]:
eda.identify_duplicates(mta_data, 'UID', 'UNIT')

--------------Possible Duplicate Rows--------------

,UID,TID,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATETIME,DESC,ENTRIES,EXITS
184505,024E4A629B63F671,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-21 07:00:00,REGULAR,17,0
184506,024E4A629B63F671,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-21 07:00:00,RECOVR AUD,15,0
184515,0922F21EDC911A87,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-22 03:00:00,REGULAR,15,0
184516,0922F21EDC911A87,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-22 03:00:00,RECOVR AUD,17,0
184499,0A2E91A008B6CEC5,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-20 19:00:00,REGULAR,17,0
...,...,...,...,...,...,...,...,...,...,...,...,...
184492,F72F8DE19515A966,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-20 03:00:00,RECOVR AUD,15,0
184504,F8C9004FC73D9CD3,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-21 03:00:00,RECOVR AUD,15,0
184503,F8C9004FC73D9CD3,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-21 03:00:00,REGULAR,17,0
184483,FB3B3F0E08207E89,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-19 11:00:00,REGULAR,15,0
184484,FB3B3F0E08207E89,B4CD039EDBAFDB6A,R514,R094,00-05-00,ASTORIA BLVD,NQW,BMT,2020-01-19 11:00:00,RECOVR AUD,16,0

In [15]:
mta_data[mta_data.UID == '78B40D7CD2F90B1A']

,UID,TID,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATETIME,DESC,ENTRIES,EXITS
32400,78B40D7CD2F90B1A,892D72F2533CCDC3,H009,R235,00-03-00,BEDFORD AV,L,BMT,2020-03-22 12:00:00,REGULAR,17126296,22672798
32401,78B40D7CD2F90B1A,892D72F2533CCDC3,H009,R235,00-03-00,BEDFORD AV,L,BMT,2020-03-22 12:00:00,RECOVR AUD,19676995,30044802

In [16]:
# mta_data.sort_values(["UID", "DESC"], inplace=True, ascending=False)
# mta_data.drop_duplicates(subset=["UID"], inplace=True, keep='first')

In [ ]:
# get names of indexes for which
# column Age has value 21
mta_data.drop(mta_data[mta_data['DESC'] == 'RECOVR AUD'].index, inplace = True)

In [20]:
raise Exception('Pause')

Exception: Pause

In [17]:
# Create Weekday from newly create DateTime column
mta_data['DoW'] = mta_data['DATETIME'].dt.day_name()

In [18]:
# Identify Daytime
mta_data['WEEKEND'] = mta_data['DoW'].apply(lambda x: True if (x == 'Saturday' or x == 'Sunday') else False)

In [19]:
# Create Time of Day
mta_data['HOUR'] = mta_data['DATETIME'].dt.hour

In [20]:
# Daily Counts by Turnstile
mta_data['ENTRYDIFF'] = mta_data['ENTRIES'].diff()
mta_data['EXITDIFF'] = mta_data['EXITS'].diff()

In [21]:
mta_data['DURATION'] = mta_data.DATETIME.diff().apply(lambda x: x.total_seconds()/3600)

In [22]:
# Drop Rows without changes
mta_data.dropna(subset=['ENTRYDIFF', 'EXITDIFF'], inplace=True)

In [23]:
# Drop First Entry Per Turnstile
# mta_data = mta_data[mta_data.DATETIME >= mta_data.DATETIME.dt.day.min() + pd.DateOffset(days=1)]

In [24]:
# Normalize floats to int values
mta_data['ENTRYDIFF'] = mta_data['ENTRYDIFF'].astype(int)
mta_data['EXITDIFF'] = mta_data['EXITDIFF'].astype(int)
mta_data['TOTAL_TRAFFIC'] = mta_data['ENTRYDIFF'] + mta_data['EXITDIFF']

In [25]:
mta_data['AVG_TRAFFIC'] = mta_data['TOTAL_TRAFFIC'] / mta_data['DURATION']

In [26]:
# Drop ENTRYDIFF AND EXITDIFF Rows with extreme values
mta_data = mta_data[mta_data.ENTRYDIFF <= 10000]
mta_data = mta_data[mta_data.ENTRYDIFF > 0]

mta_data = mta_data[mta_data.EXITDIFF <= 10000]
mta_data = mta_data[mta_data.EXITDIFF > 0]

In [27]:
# Restructure columns
columns_order = ['TID','UNIT','SCP','STATION','LINENAME','DIVISION','DATETIME','HOUR','DoW','WEEKEND','DESC','ENTRIES','EXITS','ENTRYDIFF','EXITDIFF','DURATION','TOTAL_TRAFFIC','AVG_TRAFFIC']
mta_data = mta_data[columns_order]

In [28]:
mta_data.head(20)

,TID,UNIT,SCP,STATION,LINENAME,DIVISION,DATETIME,HOUR,DoW,WEEKEND,DESC,ENTRIES,EXITS,ENTRYDIFF,EXITDIFF,DURATION,TOTAL_TRAFFIC,AVG_TRAFFIC
1,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 07:00:00,7,Saturday,True,REGULAR,7402480,2511937,11,11,4.0,22,5.50
2,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 11:00:00,11,Saturday,True,REGULAR,7402559,2512022,79,85,4.0,164,41.00
3,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 15:00:00,15,Saturday,True,REGULAR,7402755,2512073,196,51,4.0,247,61.75
4,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 19:00:00,19,Saturday,True,REGULAR,7403040,2512132,285,59,4.0,344,86.00
5,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-07 23:00:00,23,Saturday,True,REGULAR,7403197,2512159,157,27,4.0,184,46.00
6,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-08 04:00:00,4,Sunday,True,REGULAR,7403226,2512176,29,17,5.0,46,9.20
7,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-08 08:00:00,8,Sunday,True,REGULAR,7403240,2512195,14,19,4.0,33,8.25
8,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-08 12:00:00,12,Sunday,True,REGULAR,7403299,2512245,59,50,4.0,109,27.25
9,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-08 16:00:00,16,Sunday,True,REGULAR,7403433,2512293,134,48,4.0,182,45.50
10,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-08 20:00:00,20,Sunday,True,REGULAR,7403667,2512332,234,39,4.0,273,68.25
11,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 00:00:00,0,Monday,False,REGULAR,7403756,2512351,89,19,4.0,108,27.00
12,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 04:00:00,4,Monday,False,REGULAR,7403762,2512352,6,1,4.0,7,1.75
13,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 08:00:00,8,Monday,False,REGULAR,7403784,2512463,22,111,4.0,133,33.25
14,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 12:00:00,12,Monday,False,REGULAR,7403915,2512689,131,226,4.0,357,89.25
15,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 16:00:00,16,Monday,False,REGULAR,7404153,2512730,238,41,4.0,279,69.75
16,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-09 20:00:00,20,Monday,False,REGULAR,7404827,2512789,674,59,4.0,733,183.25
17,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-10 00:00:00,0,Tuesday,False,REGULAR,7404958,2512810,131,21,4.0,152,38.00
19,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-10 08:00:00,8,Tuesday,False,REGULAR,7404986,2512908,26,98,4.0,124,31.00
20,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-10 12:00:00,12,Tuesday,False,REGULAR,7405086,2513146,100,238,4.0,338,84.50
21,90191926F891F8C7,R051,02-00-00,59 ST,NQR456W,BMT,2020-03-10 16:00:00,16,Tuesday,False,REGULAR,7405358,2513209,272,63,4.0,335,83.75

In [29]:
dupes = eda.identify_duplicates(mta_data,'TID', 'ENTRIES')
dupes.sort_values(by=['TID','DATETIME'], ascending=True)

--------------Possible Duplicate Rows--------------

,TID,UNIT,SCP,STATION,LINENAME,DIVISION,DATETIME,HOUR,DoW,WEEKEND,DESC,ENTRIES,EXITS,ENTRYDIFF,EXITDIFF,DURATION,TOTAL_TRAFFIC,AVG_TRAFFIC
151729,081CADC137B8554A,R194,00-00-00,BLEECKER ST,6DF,IRT,2020-03-09 12:00:00,12,Monday,False,REGULAR,536805,173160,1,2,0.015000,3,200.000000
151731,081CADC137B8554A,R194,00-00-00,BLEECKER ST,6DF,IRT,2020-03-09 12:01:47,12,Monday,False,REGULAR,536805,173160,1,2,0.022500,3,133.333333
115619,085E8E2F31111820,R549,00-01-04,NEWARK HW BMEBE,1,PTH,2019-12-28 03:04:20,3,Saturday,True,REGULAR,304,174783,113,2989,-163.313611,3102,-18.994130
114785,085E8E2F31111820,R549,00-01-04,NEWARK HW BMEBE,1,PTH,2020-01-11 03:04:20,3,Saturday,True,REGULAR,304,184812,113,186,-163.222500,299,-1.831855
114803,085E8E2F31111820,R549,00-01-04,NEWARK HW BMEBE,1,PTH,2020-01-14 06:40:20,6,Tuesday,False,REGULAR,307,186301,2,19,4.200000,21,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96030,FD7E05AB4863CA8C,R020,01-06-01,47-50 STS ROCK,BDFM,IND,2020-02-08 19:00:00,19,Saturday,True,REGULAR,589895,38,43,11,4.000000,54,13.500000
96031,FD7E05AB4863CA8C,R020,01-06-01,47-50 STS ROCK,BDFM,IND,2020-02-08 23:00:00,23,Saturday,True,REGULAR,589914,43,19,5,4.000000,24,6.000000
96040,FD7E05AB4863CA8C,R020,01-06-01,47-50 STS ROCK,BDFM,IND,2020-02-10 11:00:00,11,Monday,False,REGULAR,590033,544,41,461,4.000000,502,125.500000
121658,FFA87F8C5782C55C,R542,00-00-02,TWENTY THIRD ST,1,PTH,2020-01-02 09:51:07,9,Thursday,False,REGULAR,98269,69469,228,2,4.200000,230,54.761905
120808,FFA87F8C5782C55C,R542,00-00-02,TWENTY THIRD ST,1,PTH,2020-03-29 01:29:55,1,Sunday,True,REGULAR,98269,2213,3,2,4.200000,5,1.190476

In [30]:
mta_data.describe().apply(lambda s: s.apply('{0:.1f}'.format))

,HOUR,ENTRIES,EXITS,ENTRYDIFF,EXITDIFF,DURATION,TOTAL_TRAFFIC,AVG_TRAFFIC
count,2541967.0,2541967.0,2541967.0,2541967.0,2541967.0,2541967.0,2541967.0,2541967.0
mean,11.8,29585631.7,21736481.3,145.0,118.9,4.0,263.9,66.0
std,6.8,171079289.9,140144674.1,227.2,213.3,1.8,356.8,87.2
min,0.0,1.0,1.0,1.0,1.0,-166.9,2.0,-1680.9
25%,7.0,580064.0,356776.5,14.0,13.0,4.0,37.0,9.5
50%,12.0,2625455.0,1599251.0,56.0,44.0,4.0,124.0,31.2
75%,17.0,7036433.5,5032425.0,183.0,132.0,4.0,355.0,89.2
max,23.0,2116079989.0,2038505334.0,9874.0,9940.0,117.0,19282.0,2571.4